apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: langgraph-safety
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30002
      name: grafana
